* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: Arial, sans-serif;

    background: #301515;

    color: #222;
}


header {
    background: 301515;

    padding: 20px 5%;

    border-bottom: 1px solid #ddd;
}


header a {
    color: #222;

    text-decoration: none;

    font-weight: bold;
}


main {
    max-width: 1200px;

    margin: 40px auto;

    padding: 0 20px;
}


.galeria {
    width: 100%;

    height: 500px;

    overflow: hidden;

    border-radius: 15px;

    background: #ddd;
}


.galeria img {
    width: 100%;

    height: 100%;

    object-fit: cover;
}


.informacoes {
    background: white;

    margin-top: 25px;

    padding: 35px;

    border-radius: 15px;
}


.informacoes h1 {
    font-size: 35px;

    margin: 10px 0;
}


.preco {
    font-size: 28px;

    font-weight: bold;
}


.localizacao {
    color: #666;

    font-size: 18px;
}


.detalhes {
    display: flex;

    gap: 40px;

    border-top: 1px solid #ddd;

    border-bottom: 1px solid #ddd;

    padding: 25px 0;

    margin: 25px 0;
}


.detalhe {
    display: flex;

    flex-direction: column;

    gap: 5px;
}


.detalhe strong {
    font-size: 22px;
}


.caracteristicas {
    display: flex;

    flex-wrap: wrap;

    gap: 10px;
}


.caracteristica {
    background: #f1f1f1;

    padding: 10px 15px;

    border-radius: 8px;
}


@media (max-width: 700px) {

    .galeria {
        height: 300px;
    }


    .detalhes {
        flex-wrap: wrap;

        gap: 20px;
    }


    .informacoes {
        padding: 20px;
    }

}
